// Service configuration
NODE_ENV=development
GOV_LOG_LEVEL=INFO
GOV_SERVICE_NAME=director
PORT=5903

// Database URIs
MONGO_URI=mongodb://localhost:27017/governify
REDIS_URI=redis://localhost:6379

// JWT configuration
JWT_SECRET=governify_secret_key

// BullMQ configuration
WORKER_CONCURRENCY=1
QUEUE_CLEANUP_INTERVAL=0
