// Service configuration
NODE_ENV=development
GOV_LOG_LEVEL=INFO
GOV_SERVICE_NAME=director
PORT=5906

# Internal service URLs
REGISTRY_SERVICE_URL=http://localhost:5902
REPORTER_SERVICE_URL=http://localhost:5905

// Database URIs
MONGO_URI=mongodb://localhost:27017/governify
REDIS_URI=redis://localhost:6379

// JWT configuration
SERVICE_AUTHENTICATION_ENABLED=false
JWT_SECRET=governify_secret_key

// BullMQ configuration
WORKER_CONCURRENCY=1
QUEUE_CLEANUP_INTERVAL=0
